<h1>Show Task</h1>

Name: <%= @task.name %>
Description: <%= @task.desc %>
Complete: <%= @task.complete %>

<h6>Timeblocks:</h6>
<%= render Tasks1Web.TimeblockView, "index.html", Map.put(assigns, :timeblocks, @task.timeblocks) %>

<span><%= link "Edit", to: Routes.task_path(@conn, :edit, @task) %></span>
